<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="/css/bulma.min.css">
  </head>
  <body>

    <div class="columns">
      <div class="column is-narrow">
        <section class="section" style="padding-top: 0.5rem !important;">
          <%= erb :'sidebar.html' %>
        </section>
      </div>
      <div class="column">
        <%= erb :'navigation.html' %>
        <section class="section">
          <%= yield %>
        </section>
      </div>
    </div>

    <!-- Todo this is how we embedd our components. Every Component is its own Vue App -->
    <script async type="module" src="/js/components/HeaderComponent.js"></script>
    <script async type="module" src="/js/components/Header2Component.js"></script>
    <!-- Todo this is how we embedd our components. Every Component is its own Vue App -->

    <!-- Fallback -->
    <script nomodule>
        document.getElementById("app").innerHTML = "Your browser doesn't support JavaScript modules :(";
    </script>
    <!-- Fallback -->

  </body>
</html>
