<div class="tabs is-centered is-boxed">
  <ul>
    <li class="is-active">
      <a href="/admin/themes"><span>Installed</span></a>
    </li>
    <li>
      <a href="/admin/themes/marketplace"><span>Marketplace</span></a>
    </li>
  </ul>
</div>
