<h1 class="title"><%= @theme.fetch("name", "Kein Name angegeben") %></h1>
<pre>
  Version: <%= @theme.fetch("version", "Kein Version angegeben") %>
  Beschreibung: <%= @theme.fetch("description", "Keine Beschreibung angegeben") %>
  Maintainer: <%= @theme.fetch("maintainer", "Kein Bearbeiter angegeben") %>
</pre>
