<nav class="level">
  <div class="level-left">

  </div>
  <div class="level-right">
    <div class="level-item">
      <a class="button is-success" href="/admin/attachments/new">Einen Anhang hochladen</a>
    </div>
  </div>
</nav>

<div class="columns is-multiline">
  <% @attachments.each do |attachment| %>
    <div class="column">
      <div class="box">
        <%= attachment.name %>
      </div>
    </div>
  <% end %>
</div>
