<nav class="level">
  <div class="level-left">

  </div>
  <div class="level-right">
    <div class="level-item">
      <a class="button is-success" href="/admin/posts/new">Neuer Post</a>
    </div>
  </div>
</nav>

<div class="columns is-multiline">
  <% @posts.each do |post| %>
    <div class="column">
      <div class="box">
        <%= post.name %>
        <hr>
        <%= post.content %>
      </div>
    </div>
  <% end %>
</div>
